.hero-text p{
  color:white;
  font-size:80px;
}
.hero-text{
    padding-left: 40px;
}
.hero{
    padding-left: 30px;
}
.explore{
    background: white;
    border-radius: 40px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    
}
.explore p{
    font-weight: bold;
    margin-left: 25px;
    font-size:15px ;
    color: rgb(65, 65, 65);
}
.hero-dot-play{
    display: flex;
   
    margin-top: 350px;
 
    justify-content: center;  
}
.explore-ul li{
    color: aliceblue;
    list-style-type: none;
    cursor: pointer;
}
.hero-dot{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  align-items: center;
   border-radius:50% ; 
   background-color: aliceblue; 
   display: inline-block;
}
.hero-dot.orange{
    background-color: orangered;
}
