.navbar{
    display: flex;
    color: white;
    align-items: center;
    font-size: larger;
    padding-top: 30px;
    justify-content: space-around;

}
.navlogo{
    font-size:40px;
    font-weight: 500;
}
.navitem{
    display: flex;
}
.navitem li{
    list-style-type: none;
    margin-right: 90px;
    font-size: 30px;
}
.navcontact{
    border-radius: 40px;
    background-color: #fff;
    color:black;
    font-size:smaller;
    width: 100px;
    height: 35px;
    padding: 15px;
    margin-top: -15px;
}